---
import BlogPost from "../../components/BlogPost.astro";
import ContainerPages from "../../components/ContainerPages.astro";
const postModules = import.meta.glob("./*.md", { eager: true });
// Convertir a array usable
const allPosts = Object.entries(postModules).map(
  ([path, mod]: [string, any]) => ({
    ...mod,
    url: "/blog/" + path.replace("../pages", "").replace(".md", ""),
  })
);
const pageTitle = "Blog";
---

<ContainerPages
  pageTitle={pageTitle}
  pageTitleComplete="Bienvenido a mi Blog"
  description="Aquí encontrarás artículos sobre Automatizaciones, Herramientas de Google, y más."
>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
    {
      allPosts.map((post) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          imgURL={post.frontmatter.img.url}
          description={post.frontmatter.description}
          imgAlt={post.frontmatter.img.alt || "Imagen del post"}
        />
      ))
    }
  </div>
</ContainerPages>
