---
export const badges = {
  react: {
    name: "React",
    color: "bg-blue-800 text-white",
    icon: "/react.png",
  },
  vitejs: {
    name: "ViteJS",
    color: "bg-yellow-300",
    icon: "/vitejs.png",
  },
  tailwindcss: {
    name: "Tailwind CSS",
    color: "bg-zinc-200 text-sky-500",
    icon: "/tailwindcss.png",
  },
  supabase: {
    name: "Supabase",
    color: "bg-zinc-800 text-white",
    icon: "/supabase.png",
  },
  postgresql: {
    name: "PostgreSQL",
    color: "bg-gray-200",
    icon: "/postgressql.png",
  },
  google_apps_script: {
    name: "Google Apps Script",
    color: "bg-gray-800 text-white",
    icon: "/google_apps_script.png",
  },
  google_sheets: {
    name: "Google Sheets",
    color: "bg-green-200 text-green-800",
    icon: "/google-sheets.png",
  },
  looker_studio: {
    name: "Looker Studio",
    color: "bg-blue-200 text-blue-800",
    icon: "/looker-studio.png",
  },
  google_sites: {
    name: "Google Sites",
    color: "bg-gray-300 text-gray-800",
    icon: "/google-sites.png",
  },
  typescript: {
    name: "TypeScript",
    color: "bg-blue-300 text-blue-800",
    icon: "/typescript.png",
  },
  google_drive: {
    name: "Google Drive",
    color: "bg-yellow-300 text-yellow-800",
    icon: "/google-drive.png",
  },
  
};
type Technology = keyof typeof badges;
type Badge = {
  name: Technology;
  color: string;
  icon?: string;
};
const { title, paragraph, list, badge } = Astro.props as {
  title: string;
  paragraph: string;
  list: string[];
  badge?: Technology[];
};

---

<section class="rounded-lg shadow-sm bg-white p-4 sm:p-6">
  <h3 class="text-xl font-semibold mb-6">{title}</h3>
  <p class="mb-4">{paragraph}</p>
  <ul class="list-disc pl-8 space-y-2">
    {list && list.map((item) => <li>{item}</li>)}
  </ul>
  {
    badge && (
      <div class="mt-4 flex flex-wrap gap-2">
        {badge.map((badge) => (
          <span
            class={`inline-flex items-center px-3 py-1 rounded-full text-sm font-medium ${badges[badge].color}`}
          >
            {badges[badge].icon && (
              <img src={badges[badge].icon} alt="" class="w-4 h-4 mr-2" width="16" height="16" />
            )}
            {badges[badge].name}
          </span>
        ))}
      </div>
    )
  }
</section>
